.flexCommunity {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.activitiesContainer {
  width: 60%;
  min-width: 330px;
  height: auto;
  border-radius: 20px;
  background-color: #262938;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.flexActivity {
  width: 100%;
  height: auto;
  border-radius: 20px;
  padding: 20px;
  background: rgba(6, 4, 20, 0.9);
  backdrop-filter: blur(7.5px);
  display: flex;
  justify-content: space-around;
  transition: all 0.4s ease-in-out;
}

.activityCategory {
  width: 100px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.styleCategory {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divisionActivity {
  width: 2px;
  height: 100%;
  background-color: #262938;
}

.activityContainer {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 5px;
}

.titleText {
  font-size: 16pt;
  font-weight: bold;
}
.descriptionText {
  font-size: 12pt;
  font-weight: light;
}

.progressContainer {
  width: 100%;
  height: auto;
  background-color: #262938;
  padding: 3px;
  border-radius: 5px;
}
.progressBar {
  height: 5px;
  background-color: green;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
}

.flexParticipants {
  display: flex;
  gap: 5px;
  transition: all 0.4s ease-in-out;
}

.flexButtons {
  width: 10%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.buttonBookStyle {
  width: auto;
  padding: 5px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 4px #777777;
}

.bookButton {
  background-color: rgba(0, 137, 0, 0.655);
}
.bookButton:active {
  background-color: rgba(0, 70, 0, 0.655);
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}

.disabledBookButton {
  background-color: #4e4e59;
  cursor: no-drop;
}

.cancelBookButton {
  background-color: rgba(175, 0, 0, 0.726);
}
.cancelBookButton:active {
  background-color: rgba(100, 0, 0, 0.726);
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}
