.backgroundContainer {
  background-color: #272938;
}

.title {
  font-size: 20pt;
  font-weight: bold;
}
.subtitle {
  font-size: 14pt;
  font-weight: lighter;
}
.subtitleDataBold {
  font-size: 16pt;
  font-weight: bold;
}
.subtitleDataLight {
  font-size: 15pt;
  font-weight: lighter;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userContainer {
  width: 60%;
  min-width: 440px;
  height: auto;
  margin: 20px;
  border-radius: 20px;
  padding: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.imagesProfile {
  width: 50%;
  min-width: 200px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 20px;
}

.divisionData {
  width: 1px;
  height: 40px;
  background-color: grey;
}

.flexDataUser {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  height: auto;
}
.flexEachData {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backButton {
  margin: 20px;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 10px;
}
