.dashboardContainer {
  width: 100%;
}

.styleDashboardContainer {
  background-color: #262938;
  border-radius: 20px;
  margin-top: 20px;
  padding: 20px;
}

.flexDashboardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.infoDashboard {
  background-color: black;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.countText {
  margin: 0;
}
